################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionalCSharp7/.vs
/FunctionalCSharp7/.vscode
/FunctionalCSharp7/FunctionalCSharp/bin
/FunctionalCSharp7/FunctionalCSharp/obj
/FunctionalCSharp7/FunctionalCSharp.Tests/bin
/FunctionalCSharp7/FunctionalCSharp.Tests/obj
/FunctionalCSharp7/HelperFSharp/bin
/FunctionalCSharp7/HelperFSharp/obj
/SWAPISDK-Initial/.vs
/SWAPISDK-Initial/.vscode
/SWAPISDK-Initial/FunctionalLib/bin
/SWAPISDK-Initial/FunctionalLib/obj
/SWAPISDK-Initial/SWAPISDK/bin
/SWAPISDK-Initial/SWAPISDK/obj
/SWAPISDK-Initial/SWAPISDKTest/bin
/SWAPISDK-Initial/SWAPISDKTest/obj
/SWAPISDK-Final/.vs
/SWAPISDK-Final/.vscode
/SWAPISDK-Final/FunctionalLib/bin
/SWAPISDK-Final/FunctionalLib/obj
/SWAPISDK-Final/SWAPISDK/bin
/SWAPISDK-Final/SWAPISDK/obj
/SWAPISDK-Final/SWAPISDKTest/bin
/SWAPISDK-Final/SWAPISDKTest/obj
/SWAPISDK-All/.vs
/SWAPISDK-All/.vscode
/SWAPISDK-All/FunctionalLib/bin
/SWAPISDK-All/FunctionalLib/obj
/SWAPISDK-All/SWAPISDK/bin
/SWAPISDK-All/SWAPISDK/obj
/SWAPISDK-All/SWAPISDKTest/bin
/SWAPISDK-All/SWAPISDKTest/obj
